Last login: Thu Jun 16 22:12:39 on ttys006
shiwensong:~ Shiwensong$ 
shiwensong:~ Shiwensong$ cd /Users/Shiwensong/Desktop/github/xiangYiXia ;
shiwensong:xiangYiXia Shiwensong$ ls
CompanyCertificate		Person
CompanyCircle			Podfile
CompanyCircle copy-Info.plist	Podfile.lock
CompanyCircle copy2-Info.plist	Pods
CompanyCircle copy3-Info.plist	README.md
CompanyCircle.xcodeproj		build
CompanyCircle.xcworkspace	build.sh
HelpNote.rtf			cocoapods-build
LICENSE				ipa-build
PersionCertificate		ipa-publish-fir
shiwensong:xiangYiXia Shiwensong$ vim .gitignore









# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xcworkspace
xcuserdata
## Other
*.xccheckout
*.moved-aside
*.xcuserstate


